<?php
// Gets images data
$row=$block->getData('rows');
$col=$block->getData('columns');
$result = json_decode($block->fetchData());

$tagresult = json_decode($block->fetchtagData());
if (count($result->data)<=($block->getData('rows')*$block->getData('columns'))) {
    $c=count($result->data);
} else {
    $c=($block->getData('rows')*$block->getData('columns'));
}
if (count($tagresult->data)<=($block->getData('rows')*$block->getData('columns'))) {
    $c1=count($tagresult->data);
} else {
    $c1=($block->getData('rows')*$block->getData('columns'));
}
?>
<!-- printing normal data images(without taking #hashtag condition)  -->
<?php if (empty($block->getData('tag'))) { ?>
<h1 style="text-align:center;font-size:23px;text-transform: capitalize;"><b><?php echo $block->escapeHtml(__($block->getData('widgettitle'))); ?></b></h1>
<section id="instafeeds">
<?php
$k=0;
for ($i=1; $i<=$row; $i++) {?>
<div class="displaysetting">
<?php for ($j=1; $j<=$col; $j++) { ?>
<?php $k++; ?>
<?php if ($k <= $c) { ?>
<div class="gallery">
<?php if ($block->getData('show_type') == "content") {?>
<a href="<?= $result->data[$k-1]->link ?>" >
<img  src="<?= $result->data[$k-1]->images->thumbnail->url ?>"></a>
<?php } ?>
<?php if ($block->getData('show_type') == "popup") {?>
<img   src="<?= $result->data[$k-1]->images->thumbnail->url ?>"  onclick="openimage('<?= $result->data[$k-1]->images->standard_resolution->url ?>')">
<?php } ?>
</div>
<?php }  ?>
<?php } echo "</div>"; ?>
<?php }  ?>
<div class="clear"></div>
</section>
<?php }?>
<!-- printing normal data images using #hashtag  -->
<?php if (($block->getData('tag'))) { ?>
<h1 style="text-align:center;font-size:23px;text-transform: capitalize;"><b><?php echo $block->escapeHtml(__($block->getData('widgettitle'))); ?></b></h1>
<section id="instafeeds">
<?php
$k=0;
$ng=0;
for ($i=1; $i<=$row; $i++) {?>
<div class="displaysetting">
<?php for ($j=1; $j<=$col; $j++) { ?>
<?php $k++; ?>
<?php if ($k <= $c1) {?>
<?php
if (in_array(($block->getData('tag')), ($tagresult->data[$k-1]->tags), true)) {
    $ng++; ?>
<div class="gallery">
<?php if ($block->getData('show_type') == "content") {?>
<a href="<?= $tagresult->data[$k-1]->link ?>" >
<img  src="<?= $tagresult->data[$k-1]->images->thumbnail->url ?>"></a>
<?php } ?>
<?php if ($block->getData('show_type') == "popup") {?>
<img src="<?= $tagresult->data[$k-1]->images->thumbnail->url ?>"  onclick="openimage('<?= $tagresult->data[$k-1]->images->standard_resolution->url ?>')">
<?php } ?>
</div>
<?php }   ?>

<?php }  ?>
<?php } echo "</div>"; ?>
<?php }  ?>
<div class="clear"></div>
</section>
<?php
if ($ng==0) {?>
<p style="text-align: center;font-size:23px;">There is no #hashtag realated data</p>
<?php }
?>
<?php }?>





<!-- Popup Content -->

<div class="imageopen">
<div class="confirmoverall">
<div class="confirm_message">
<div><img class="showimage" src="" /></div>
<div><span class="confirm_no">close</span></div>

</div>
</div>

<!-- Popup Content  -->








<style>
div.gallery 
{
margin: 20px;
float: left;
width: <?php echo $block->escapeHtml(__(($block->getData('imagesize')+10)."px")); ?>;
/*height:<?php echo $block->escapeHtml(__(($block->getData('imagesize'))."px")); ?>; border: 1px solid #ccc; */
}
div.gallery img 
{
width: <?php echo $block->escapeHtml(__(($block->getData('imagesize'))."px")); ?>;
height: auto;
}
.clear
{
clear:both;
}
.displaysetting
{
display:flex;
}
@media (max-width: 768px) {
.displaysetting
{
 display:inline;
}
}


#instafeeds
{
width:80%;
text-align:center;
margin:0 auto;
}
/* Popoup */

.imageopen{
display:none;
width:100%;
height:100%;
position:fixed;
top:0;
left:0;
z-index:100000;
background: rgba(0,0,0,0.3);
}
.confirmoverall
{
background: #f9f9f9;
width: 40%;
margin: 2% auto;
text-align: center;
padding: 3%;
border-radius: 10px;

}
.confirm_yes, .confirm_no
{
display: inline-block;
text-align: center;
border-radius: 50px;
background: #00aeef;
font-size: 15px;
color: #fff;
padding: 7px 25px;
margin-left: 1em;
margin-top: 1em;
cursor: pointer;
}
.confirm_message
{
text-align: center;
font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
color: #636363;
display: block;
font-size: 15px;
margin: 0 auto 5% auto;
height:auto;
}

/* Popup */
.showimage
{height:auto;
 width:auto;
}
/* Popup */

@media screen and (max-width: 320px){
 div.gallery 
{
margin-left: 0px;
}  }
 @media screen and (max-width: 767px) and (min-width: 320px) {
div.gallery 
{
margin-left: 0px;
}  }  

</style>








<script type="text/javascript">
 require(["jquery", "jquery/ui"], function($) {
 $(document).ready(function() {
 $('.confirm_no').click(function() {
 $('.imageopen').hide();
 });
 });
 });

function openimage(imageurl)
{
 jQuery('.showimage').attr('src', imageurl);
 jQuery('.imageopen').show();
}

</script>


